.container {
  padding: 50px 0;
  position: relative;
  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    .left {
      display: flex;
      svg {
        position: absolute;
        top: calc(50% - 160px);
        left: 0;
      }
      .title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        padding-left: 10px;
        text-align: right;
      }
    }
  }
  .right {
    svg {
      position: absolute;
      bottom: -30%;
      right: 0;
    }
    .img_cont {
      display: flex;
      justify-content: center;
      position: relative;
      img {
        width: 70%;
        height: auto;
      }
      .left_element {
        position: absolute;
        top: 10%;
        left: 10%;
        z-index: -1;
        background: #72b9db;
        height: 110%;
        width: 30%;
      }
    }
  }
}
