.container {
  padding: 50px 0 100px;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      max-width: 600px;
      width: 100%;
      padding: 50px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 4px 16px;
      .title {
        font-weight: 900;
        font-size: 48px;
        line-height: 46px;
        letter-spacing: 0.0005em;
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0 30px;
        color: var(--deep-gray);
      }
      .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        label {
          font-weight: 300;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.0005em;
        }
        input,
        textarea {
          height: 50px;
          outline: 0;
          border: 0;
          padding: 8px;
          border-radius: 4px;
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05),
            -1px -1px 20px rgba(0, 0, 0, 0.05);
          margin: 10px 0;
          font-size: 18px;
          line-height: 24px;
          &::placeholder {
            color: #959595;
            font-size: 18px;
            line-height: 50px;
          }
        }
        textarea {
          width: 100%;
          resize: vertical;
          height: auto;
        }
      }
      .actions {
        display: flex;
        justify-content: center;
      }
    }
  }
}
