.container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  .inner {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
    .logo {
      max-width: 130px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .nav_list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      li {
        padding: 5px;
        margin-left: 40px;
        font-size: 18px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: 0.5s;
        &:hover {
          border-bottom: 2px solid var(--main);
        }
      }
    }
  }
}
