@import url('./fonts/HelveticaNeueCyr/stylesheet.css');
:root {
  --main: #3198c9;
  --deep-gray: #363636;
  --grey: #c4c4c4;
  --deep-ocher: #6b989b;
  --ocher: #72b9db;
  --light-ocher: #c0eaef;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.big_title {
  font-weight: 900;
  font-size: 70px;
  line-height: 68px;
  letter-spacing: 0.0005em;
  text-transform: uppercase;
  color: var(--deep-gray);
}
.leading {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
.title {
  font-weight: 900;
  font-size: 60px;
  line-height: 58px;
  letter-spacing: 0.0005em;
}
